/* ----- Custom Font Imports ----- */

@font-face {
  font-family: Lulo-Clean;
  src: url(assets/fonts/Lulo-Clean.woff);
}

@font-face {
  font-family: Gilmer-Regular;
  src: url(assets/fonts/Gilmer-Regular.woff);
}

@font-face {
  font-family: Gilmer-Medium;
  src: url(assets/fonts/Gilmer-Medium.woff);
}

@font-face {
  font-family: Gilmer-Light;
  src: url(assets/fonts/Gilmer-Light.woff);
}

/* ----- Global CSS Variables ----- */

:root {
  --primary-bg-color: #202020;
  --primary-font-color: white;
  --secondary-font-color: rgb(206, 206, 206);
  --display-font: Lulo-Clean;
  --heading-font: Gilmer-Medium;
  --paragraph-font: Gilmer-Regular;
  --paragraph-font-light: Gilmer-Light;
}

/* ----- Scroll Bar Styling ----- */
/* https://www.digitalocean.com/community/tutorials/css-scrollbars */

body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-font-color); 
  border-radius: 30px; 
}

/* Firefox  styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-font-color) var(--primary-bg-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  border: none;
}

/* ----- Font Related Classes ----- */
.display-font {
  font-family: var(--display-font);
  text-align: center;
}

.paragraph-font {
  font-family: var(--paragraph-font);
}

.paragraph-font-light {
  font-family: var(--paragraph-font-light);
}

.font-small {
  font-size: 0.8rem;
}

.font-paragraph {
  font-size: 1rem;
}

.font-medium {
  font-size: 1.2rem;
}

.font-large {
  font-size: 2.2rem;
}

@media screen and (max-width: 622px) {
  .font-large {
    font-size: 1.8rem;
  }
}

.font-x-large {
  font-size: 3rem;
}

@media screen and (max-width: 622px) {
  .font-x-large {
    font-size: 2.6rem;
  }
}

.font-xx-large {
  font-size: 4rem;
}

/* ----- Element Styling ----- */

body {
  color: var(--primary-font-color);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: Gilmer-Regular Verdana sans-serif;
  position: relative;
}

label {
  padding-right: 16px;
}

h1,
h2,
h3 {
  margin: 0;
}

/* ----- General Utility Classes ----- */

.hidden {
  display: none !important;
}

.fullscreen-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.section-content-wrapper {
  width: 1200px;
  max-width: 90%;
  padding: 120px 0px;
  display: flex;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .section-content-wrapper {
     padding: 80px 0px;
  }  
 
} 

.block {
  display: block;
}

.inline {
  display: inline;
}

.align-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .desktop-only {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }
}

.text-align-left {
  text-align: left;
}

/* ----- Buttons ----- */
.button {
  background-color: var(--primary-font-color);
  color: var(--primary-bg-color);
  border: solid 1px var(--primary-font-color);
  padding: 6px 24px;
  font-size: 1rem;
  font-family: var(--paragraph-font);
}

.button:hover {
  background-color: var(--secondary-font-color);
}

.border-button {
  color: var(--primary-font-color);
  background-color: rgba(0, 0, 0, 0);
}

.transparent-button {
  background-color: rgba(209, 209, 212, 0);
  border: none;
  color: var(--primary-font-color);
}

/* ----- Preloader----- */
/* https://www.cssportal.com/css-loader-generator/*/

#preloader {
  position: fixed;
  z-index: 999;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 140px;
  height: 140px;
  background: radial-gradient(farthest-side, #ffffff 90%, #0000) center/32px
      32px,
    radial-gradient(farthest-side, #ffffff 90%, #0000) bottom/24px 24px;
  background-repeat: no-repeat;
  animation: s7 2s infinite linear;
  position: relative;
}
.custom-loader::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  inset: auto 0 32px;
  margin: auto;
  background: #ffffff;
  border-radius: 50%;
  transform-origin: 50% calc(100% + 20px);
  animation: inherit;
  animation-duration: 1s;
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}

/* ----- Forms ----- */

input[type="text"],
input[type="email"],
input[type="date"] {
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
  color: var(--primary-font-color);
}

/* ----- Controls ----- */
/* Code for switches from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 21.5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.5px;
  width: 15.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ----- Header & Navigation ----- */

header {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

#desktop-nav {
  position: fixed;
  right: 12px;
  padding: 12px 24px;
  border-radius: 100px;
}

nav > a {
  margin-right: 16px;
}

#particles-control-label {
  margin-left: 16px;
}

.mobile-nav-icon {
  font-size: 1.4rem;
  color: var(--primary-font-color);
}

#mobile-nav-btn {
  display: none;
  position: fixed;
  right: 24px;
  top: 27px;
}

#mobile-nav-btn-close {
  position: fixed;
  top: 27px;
  right: 27px;
}

#menu-modal {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-nav {
  width: 70%;
}

#mobile-nav > a,
.mobile-control-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0px;
}

#mobile-nav > a::after,
.mobile-control-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  background-color: var(--primary-font-color);
}

.mobile-control-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Phone Screens */
@media screen and (max-width: 992px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav-btn {
    display: block;
  }
}

#modal-overlay {
  position: fixed;
  z-index: 98;
  top: 0px;
  width: 100vw;
  height: 100vh;
  margin-left: -20px;
  backdrop-filter: blur(8px);
  background-color: rgba(30, 30, 30, 0.9);
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

a:hover {
  color: var(--primary-font-color);
}

.section-content-wrapper {
  margin: 48px 0px;
}

#background-section {
  background-color: var(--primary-bg-color);
  background-size: cover;
  position: fixed;
  z-index: -2;
  top: 0;
}

#particles-js {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
}

#particles-js > canvas {
  height: 100vh !important;
}

/* ---- Entry Modal ----- */

#entry-modal {
  position: fixed;
  background-color: var(--primary-bg-color);
  z-index: 998;
  padding: 50px 24px;
}

#entry-modal-content-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#entry-modal-form-wrapper {
  margin: 18px 0px;
}

.entry-modal-option-wrapper {
  padding: 12px 6px;
}

@media screen and (min-width: 622px) {
  .entry-modal-option-wrapper {
    display: inline;
  }
}

/* * ------ Hero Section ----- */

#hero-text-container {
  position: sticky;
  top: 0px;
  margin-top: -70px;
}

#hero-text-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-text-wrapper > p {
  text-align: center;
  width: 100%;
  margin: -32px 0px;
  padding: 0px;
}

#hero-text-large {
  width: 100%;
  font-size: 220px;
}



#hero-text-medium {
  width: 100%;
  font-size: 72px;
}

/* Phone Screens */
@media screen and (max-width: 992px) {
  #hero-text-large {
    font-size: 150px;
  }

  #hero-text-medium {
    font-size: 52px;
  }

  #hero-text-wrapper > p {
    margin: -28px 0px;
  }
}

@media screen and (max-width: 766px) {
  #hero-text-large {
    font-size: 120px;
  }

  #hero-text-medium {
    font-size: 42px;
  }

  #hero-text-wrapper > p {
    margin: -28px 0px;
  }
}

@media screen and (max-width: 622px) {
  #hero-text-large {
    font-size: 82px;
  }

  #hero-text-medium {
    font-size: 32px;
  }

  #hero-text-wrapper > p {
    margin: -20px 0px;
  }
}

@media screen and (max-width: 420px) {
  #hero-text-large {
    font-size: 68px;
  }

  #hero-text-medium {
    font-size: 24px;
  }

  #hero-text-wrapper > p {
    margin: -16px 0px;
  }

  #hero-image-wrapper {
    margin-top: -200px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 324px) {
  #hero-text-large {
    font-size: 52px;
  }

  #hero-text-medium {
    font-size: 18px;
  }

  #hero-text-wrapper > p {
    margin: -8px 0px;
  }
}

#hero-image-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
}

#hero-image {
  width: 100%;
}

/* ----- Data Cards ----- */

#data-cards-grid {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(5, 1fr);
  width: 800px;
}

/* Adjust the grid to have fewer columns ans
smaller overall width on smaller devices */

@media screen and (max-width: 825px) {
  #data-cards-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 650px;
  }
}

@media screen and (max-width: 675px) {
  #data-cards-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 325px;
  }
}

.data-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
  gap: 12px;
  min-height: 100px;
}

.data-card > p {
  margin: 0;
}

.data-card-large {
  grid-column: span 2;
  grid-row: span 2;
  gap: 18px;
  min-height: 260px;
}

.data-card-long {
  grid-column: span 2;
}

.data-card-small {
  max-height: 140px;
}

.data-card-symbol {
  height: 125px;
  width: 125px;
}

/* ----- Statistics & Data Accordians ----- */

.accordian {
  width: 90%;
  max-width: 900px;
  padding: 24px;
}

.accordian-button {
  cursor: pointer;
}

.accordian table {
  width: 100%;
}

td,
tr {
  border-bottom: 0.8px solid white;
  padding: 12px 0px;
}

.accordian tr:nth-child(even) {
  background-color: rgba(213, 213, 213, 0.092);
}

.accordian td:nth-child(even) {
  text-align: right;
}

/* ----- History & Timeline ----- */

.timeline-container {
  width: 100%;
}

.timeline-event-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -0px;
}

.timeline-event-wrapper > div {
  padding: 18px;
}

.timeline-date-wrapper {
  border-right: 2px solid white;
  width: calc(50% - 38px);
  display: flex;
  justify-content: end;
}

.timeline-date {
  margin-top: 20px;
}

.timeline-circle {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  margin-right: -29px;
  margin-top: 18px;
  position: absolute;
}

.timeline-details-box-wrapper {
  width: calc(50% - 36px);
}

.timeline-details-box {
  padding: 16px 24px;
}

.timeline-details-box button {
  text-align: left;
}

/* Only flip every timeline event on larger devices */
@media screen and (min-width: 766px) {
  .timeline-event-wrapper:nth-of-type(2n) {
    flex-direction: row-reverse;
    margin-left: -2px;
  }

  .timeline-event-wrapper:nth-of-type(2n) > .timeline-date-wrapper {
    justify-content: start;
    border-right: none;
    border-left: 2px solid white;
  }

  .timeline-event-wrapper:nth-of-type(2n) .timeline-circle {
    margin-right: 0px;
    margin-left: -29px;
  }
}

@media screen and (max-width: 766px) {
  .timeline-date-wrapper {
    width: 100%;
  }

  .timeline-details-box-wrapper {
    width: 100%;
    border-right: 2px solid white;
  }
}

/* ----- Gallery -----*/

#swipe-container {
  margin: -24px 0px;
}

#swipe-lottie {
  width: 50px;
  height: 50px;
  border: none;
}

.gallery {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.gallery-cell {
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  box-sizing: border-box;
  padding: 45px 75px;
}

@media screen and (max-width: 1024px) {
  .gallery-cell {
    padding: 24px 36px;
    height: 85vh;
  }
}

/* Flickity Styling */
/* Code from https://css-tricks.com/creating-responsive-touch-friendly-carousels-with-flickity/ */

.flickity-button {
  background: rgba(0, 0, 0, 0) !important;
}

@media screen and (max-width: 1024px) {
  .flickity-button {
    display: none !important;
  }
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.dot {
  background: var(--primary-font-color) !important;
}

/* ----- Quiz Section ----- */
#quiz-form {
  width: 600px;
  max-width: 70vw;
  padding: 24px 42px;
}

.question-option-wrapper {
  display: inline-block;
}

@media screen and (max-width: 622px) {
  .question-option-wrapper {
    display: block;
    margin-bottom: 6px;
  }
}

.quiz-question {
  display: block;
  padding-top: 32px;
  padding-bottom: 12px;
}

.question-buttons-wrapper {
  margin-top: 18px;
}

/* ----- Footer ----- */

#social-icons-wrapper {
  gap: 12px;
}


/* ----- Glassmorphism Styling ----- */
/* https://hype4.academy/tools/glassmorphism-generator */
.glass-container-dark {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(209, 209, 212, 0.05);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-container-medium {
  background: rgba(255, 255, 255, 0.15);
  /*box-shadow: 0 8px 32px 0 rgba(209, 209, 212, 0.05);*/
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  /*border: 1px solid rgba(255, 255, 255, 0.18);*/
}

/* ----- Hover Underline Animation ----- */
/* source: https://www.30secondsofcode.org/css/s/hover-underline-animation/ */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary-font-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.8px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-font-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
